#profile-button {
    -fx-alignment: center;
    -fx-background-size: 25px 25px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-min-height: 40;
    -fx-min-width: 40;
    -fx-max-height: 40;
    -fx-max-width: 40;
}
#profile-button {    -fx-background-image: url("pictures/user.png"); }
